@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-extra-bold-italic';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

:root {
    /* colors */
        --purple: hsl(259, 100%, 65%);

        --white: hsl(0, 0%, 100%);
        --off-white: hsl(0, 0%, 94%);
        --light-grey: hsl(0, 0%, 86%);
        --smokey-grey: hsl(0, 1%, 44%);
        --off-black: hsl(0, 0%, 8%);

        --clr-error: hsl(0, 100%, 67%);
    /* fonts */
        --ff-primary: "Poppins-regular", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-height: 100dvh;

    font-size: 62.5%;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}